* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
:root {
  --backgroundColor: #292c33;
  --headerColor: #212329;
  --textColor: #ffffff;
  --clickableText: #80d8f7;
  --hoveredText: #4091ad;
  --wrongAnswerText: #eb4460;
  --correctAnswerText: #90f780;
}

.main {
  background-color: var(--backgroundColor);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: var(--headerColor);
  position: relative;
  height: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 33vw 34vw 33vw;
  grid-template-rows: auto;
  grid-template-areas: "back title help";
}

.headerTitle {
  font-family: "IBM Plex Serif";
  font-weight: 300;
  color: var(--textColor);
  grid-area: title;
  justify-self: center;
  align-self: center;
}

#helpButton {
  grid-area: help;
  justify-self: end;
  padding-right: 5vw;
  align-self: center;
  font-size: 36px;
  cursor: pointer;
}

#backButton {
  grid-area: back;
  justify-self: start;
  padding-left: 5vw;
  align-self: center;
  font-size: 24px;
  font-weight: 700;
}

.buttonArray {
  display: grid;
  position: relative;
  height: 90vh;
  width: 100vw;
  grid-template-columns: 33vw 34vw 33vw;
  grid-template-rows: auto;
}

.menuButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuImg {
  width: 30vh;
  height: 30vh;
  padding-bottom: 5vh;
}

.buttonText {
  color: var(--clickableText);
  font-family: "IBM Plex Sans";
  font-size: 24px;
}

.buttonText:hover {
  color: var(--hoveredText);
}

.questionWrapper {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 35vh 50vh;
}

.questionText {
  color: var(--textColor);
  text-align: center;
  justify-self: center;
  align-self: center;
  font-family: "IBM Plex Serif";
  font-weight: 500;
  font-size: 48px;
  padding-top: 5vh;
}

.answerArray {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 25vh 25vh;
}

.answerButton {
  background-color: Transparent;
  outline: none;
  border: none;
  color: var(--clickableText);
  font-family: "IBM Plex Sans";
  font-size: 24px;
}

.answerButton:hover {
  color: var(--hoveredText);
}

.explanationWrapper {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
}

.explanationText {
  color: var(--textColor);
  text-align: center;
  font-family: "IBM Plex Serif";
  font-weight: 500;
  font-size: 48px;
  padding-top: 7.5vh;
}

#explanationButton {
  background-color: transparent;
  outline: none;
  border: none;
  padding-top: 5vh;
}
